# Python Function
Python Functions is a block of statements that return the specific task.

The idea is to put some commonly or repeatedly done tasks together and make a function so that instead of writing the same code again and again for different inputs, we can do the function calls to reuse code contained in it over and over again.

## Question 1 . Defining and calling a function without parameter

In [4]:
def helper():
    return("Hellow world ! from adinth")
helper()

'Hellow world ! from adinth'

## Question 2. Write a function to add two number and return the sum .

In [7]:
def add(a=4,b=5):
    return a+b
add(10,56)

66

## Question 3. Write a fuction to find the given number is odd or even.

In [23]:
def hepler1(a=5):
      if a%2==0:
        return ("number is even")
      else:
        return ("number is odd")

In [24]:
hepler1()

'number is odd'

## Question 4. Write a fuction to find the maximum of three numbers.

In [39]:
def maxNum(a,b,c):
    if(a>b):
        if(a>c):
            return a
    elif(b>a):
         if(b>c):
            return b
    else:
            return c

In [41]:
maxNum(4,5,6)

In [43]:
def maxNum(a,b,c):
    if(a>b and a>c):
        return a
    elif(b>a and b>c):
        return b
    else:
        return c
maxNum(7,5,6)

7

##  Question 5. Write a function that accept a list and return the sum of all the element which is inside the same.

In [44]:
def sum1(list1=[1,2,4,6,5,6]):
    sum=0;
    for i in list1:
        sum+=i
    return sum

In [48]:
sum1([4455,6,7,8,2,9])

4487

## Question 6. Write a function that accept a number and return the table of the same

In [120]:
def table_of_n(n):
    l=[]
    for i in range(1,11):
        l.append(i*n)
    return l
table_of_n(5)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

### Question 7. Write a function that counts number of vowel and consunants in a string/word.

In [69]:
def vowel(s):
    vow=0
    cons=0
    for i in s:
        if i in ("AEIOUaeiou"):
            vow+=1
        else:
            cons+=1
    return (vow,"and" ,cons)
vowel("adinath")

(3, 'and', 4)

### Question 8. Write a function that accepts a string and return reverse of the same string.

In [72]:
 def reverse(s):
        revStr=""
        for i in range(len(s)-1,-1,-1):
            revStr+=s[i]
        return revStr
reverse("adinath")

'htanida'

### Question 9. Write a function that accepts a number and returns the factorial of the same.

In [80]:
def fact(n):
    mul=1
    if n<0:
        return ("factorial of negative number is not exits")
    elif n==0:
        return ("factorial of 0 is 1")
    else:
        for i in range(1,n+1):
             mul*=i
    return mul
fact(-5)

'factorial of negative number is not exits'

###  Question 10. Write a Python function that takes a list and returns a new list with unique elements of the first list.

In [81]:
def unique(lst=[1,2,2,4,5,5,6,6,7,7,8]):
    x=set(lst)
    return list(x)
unique()

[1, 2, 4, 5, 6, 7, 8]

In [82]:
def unique(lst=[1,22,2,3,4,52,2,2,23,1,1,]):
    l=[]
    for i in lst:
        if i not in l:
            l.append(i)
        else:
            continue
    return l
unique()

[1, 22, 2, 3, 4, 52, 23]

### Question 11. Write a program to print twin primes less than 1000. If two consecutive odd numbers are both prime then they are known as twin primes

In [122]:
def Prime(n):
    for i in range(2,n):
        if n%i==0:
            return False
    return True

def twinsPrime(max_num):
    l=[]
    for firstNum in range(2,max_num):
        secondNum=firstNum+2
        if(Prime(firstNum) and Prime(secondNum)):
             l.append(f"number {firstNum} and {secondNum} are prime number")
        else:
            continue
    return l
twinsPrime(1000)

['number 3 and 5 are prime number',
 'number 5 and 7 are prime number',
 'number 11 and 13 are prime number',
 'number 17 and 19 are prime number',
 'number 29 and 31 are prime number',
 'number 41 and 43 are prime number',
 'number 59 and 61 are prime number',
 'number 71 and 73 are prime number',
 'number 101 and 103 are prime number',
 'number 107 and 109 are prime number',
 'number 137 and 139 are prime number',
 'number 149 and 151 are prime number',
 'number 179 and 181 are prime number',
 'number 191 and 193 are prime number',
 'number 197 and 199 are prime number',
 'number 227 and 229 are prime number',
 'number 239 and 241 are prime number',
 'number 269 and 271 are prime number',
 'number 281 and 283 are prime number',
 'number 311 and 313 are prime number',
 'number 347 and 349 are prime number',
 'number 419 and 421 are prime number',
 'number 431 and 433 are prime number',
 'number 461 and 463 are prime number',
 'number 521 and 523 are prime number',
 'number 569 and 571 are prime number',
 'number 599 and 601 are prime number',
 'number 617 and 619 are prime number',
 'number 641 and 643 are prime number',
 'number 659 and 661 are prime number',
 'number 809 and 811 are prime number',
 'number 821 and 823 are prime number',
 'number 827 and 829 are prime number',
 'number 857 and 859 are prime number',
 'number 881 and 883 are prime number']

In [129]:
def checkPrime(max_num):
    for num in range (2, max_num):
        if max_num % num == 0:
            return False
    return True

def twinPrime(max_num):
    l=[]
    for first_num in range(2, max_num):
        second_num = first_num + 2
        if (checkPrime(first_num) and checkPrime(second_num)):
            l.append(" {0} and {1}".format(first_num, second_num))
        else:
            continue
    return l
twinPrime(1000)

[' 3 and 5',
 ' 5 and 7',
 ' 11 and 13',
 ' 17 and 19',
 ' 29 and 31',
 ' 41 and 43',
 ' 59 and 61',
 ' 71 and 73',
 ' 101 and 103',
 ' 107 and 109',
 ' 137 and 139',
 ' 149 and 151',
 ' 179 and 181',
 ' 191 and 193',
 ' 197 and 199',
 ' 227 and 229',
 ' 239 and 241',
 ' 269 and 271',
 ' 281 and 283',
 ' 311 and 313',
 ' 347 and 349',
 ' 419 and 421',
 ' 431 and 433',
 ' 461 and 463',
 ' 521 and 523',
 ' 569 and 571',
 ' 599 and 601',
 ' 617 and 619',
 ' 641 and 643',
 ' 659 and 661',
 ' 809 and 811',
 ' 821 and 823',
 ' 827 and 829',
 ' 857 and 859',
 ' 881 and 883']

### Question 11. Write a Python program to print the even numbers from a given list

In [103]:
def evenNum(lst=[1,2,3,4,5,5,5]):
    l=[]
    for i in lst:
        if i%2==0:
            l.append(i)
        else:
            continue
    return l
evenNum()

[2, 4]

### Question 12. Write a Python program to print the odd numbers from a given list

In [104]:
def oddNum(lst=[1,2,3,4,5,5,5]):
    l=[]
    for i in lst:
        if i%2==1:
            l.append(i)
        else:
            continue
    return l
oddNum()

[1, 3, 5, 5, 5]

### Question 13. Write a Python function that checks whether a passed string is palindrome or not.

In [110]:
def checkpalodrom(s):
    f=0;
    l=len(s)-1;
    while(f<l):
        if(s[f]!=s[l]):
            return False
        f+=1;
        l-=1;
    return True
checkpalodrom("abba")

True

### Question 14. Write a program to create a recursive function to calculate the sum of numbers from 0 to 10.

In [115]:
def recursiveFun(n):
    if n==0:
        return 0
    return n+recursiveFun(n-1)
recursiveFun(6,0)

TypeError: recursiveFun() takes 1 positional argument but 2 were given

### Question 15. Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters

In [118]:
def lowerupper(s):
    upper=0;
    lower=0;
    for i in s:
        if i.isupper():
            upper+=1 
        else:
            lower+=1
    return (f"lower {lower} ans {upper}")

lowerupper("AdInAth")

'lower 4 ans 3'