### 1.Write a Python program to Convert two lists into a dictionary.

In [1]:
lst1=[1,2,3,4,5]
lst2=["adinath","khamkar","gurunath","namdev","khmaka=e"]

In [2]:
d=dict(zip(lst1,lst2))

In [3]:
d

{1: 'adinath', 2: 'khamkar', 3: 'gurunath', 4: 'namdev', 5: 'khmaka=e'}

### 2. Write a Python program to add a key to a dictionary.

In [10]:
d={1:"adinath",2:"grununath",3:"khamkar"}
d[4]="asdf"
d.update({4:"afffffffg"})
d

{1: 'adinath', 2: 'grununath', 3: 'khamkar', 4: 'afffffffg'}

### 3. Write a Python program to Merge two Python dictionaries into one. (or) Write a Python program to concatenate two dictionaries to create a new one.

In [15]:
d1={1:"adinath",2:"gurunath"}
d2={1:"khamkar"}
d1.update(d2)

In [16]:
d1

{1: 'khamkar', 2: 'gurunath'}

### 4. Write a python program to Print the value of key ‘history’ from the below dict.
### Dict = {"class": {"student": {"name": "Mike","marks": {"physics": 70,"history": 80}}}}

In [17]:
Dict = {"class": {"student": {"name": "Mike","marks": {"physics": 70,"history": 80}}}}

In [22]:
Dict["class"]["student"]["marks"]["history"]

80


### 5. Write a python program to Delete a list of keys from a dictionary.

In [23]:
dict= {'Maruti': 2018, 'Ford': 2019, 'Mahindra': 2022, 'Apple': 30, 'Mango': 40, 'Banana': 50}
list=['Mahindra','Mango']
for i in list:
    if i in list:
        dict.pop(i)

In [24]:
dict

{'Maruti': 2018, 'Ford': 2019, 'Apple': 30, 'Banana': 50}

### 6. Write a python program to check if a Key is exists in a dictionary.

In [26]:
dict= {'Maruti': 2018, 'Ford': 2019, 'Mahindra': 2022, 'Apple': 30, 'Mango': 40, 'Banana': 50}
def checkkey(x):
    if x in dict:
        print("yess")
    else:
        print("No")
checkkey('Marutiw')

No

### 7. Write a Python script to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x).

In [27]:
d={}
for i in range(1,10):
    d[i]=i*i

In [39]:
del d[1]

KeyError: 1

### 8. Write a Python program to sum all the items in a dictionary.

In [37]:
sum(d.values())

def dum(s):
    sm=0;
    for i in s:
        sm+=i.values()
    return sm
dum(d)

AttributeError: 'int' object has no attribute 'values'

### 9. Write a Python program to remove a key from a dictionary.

In [42]:
del d[5]

In [43]:
d

{2: 4, 3: 9, 4: 16, 6: 36, 7: 49, 8: 64, 9: 81}

### 10.Write a Python program to sort a given dictionary by key.

In [56]:
def sort_dict_by_key(d, reverse = False):
    return dict(sorted(d.items(), reverse = reverse))
sort(d)

TypeError: 'dict' object is not callable

### 11. Write a Python program to get the maximum and minimum value in a dictionary.

In [59]:
my_dict = {'x':500, 'y':5874, 'z': 560}
maxValue=max(my_dict.values())
minValue=min(my_dict.values())
maxValue
minValue

500

### 12. Write a Python program to remove duplicates from Dictionary.

In [72]:
dict= {'Maruti': 2018, 'Ford': 2019, 'Mahindra': 2022, 'Apple': 30, 'Mango': 40, 'Banana': 50, 'Mango1': 40,"grip":40}

def removeDuplicate(dict):
    d={}
    for i,j in dict.items():
        if j not in d.values():
            d[i]=j
        else:
            continue
    return d
removeDuplicate(dict)

{'Maruti': 2018,
 'Ford': 2019,
 'Mahindra': 2022,
 'Apple': 30,
 'Mango': 40,
 'Banana': 50}

In [69]:
dict= {'Maruti': 2018, 'Ford': 2019, 'Mahindra': 2022, 'Apple': 30, 'Mango': 40, 'Banana': 50, 'Mango': 40,'Banana':56}

In [70]:
dict

{'Maruti': 2018,
 'Ford': 2019,
 'Mahindra': 2022,
 'Apple': 30,
 'Mango': 40,
 'Banana': 56}

### 13. Write a Python program to print a dictionary containing odd square value.

In [82]:
{x: x*x for x in range(12) if x%2==1}

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81, 11: 121}

In [89]:
odd_squares

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81, 11: 121}

### 14. Write a Python program to check a dictionary is empty or not.

In [85]:
d={1:1}

if not bool(d):
    print("empty")
else:
    print ("not empty")

not empty

### 15. Write a python program to find the size of a Dictionary.

In [88]:
dict= {'Maruti': 2018, 'Ford': 2019, 'Mahindra': 2022, 'Apple': 30, 'Mango': 40, 'Banana': 50}
import sys
print(sys.getsizeof(dict),"bytes")

272 bytes

### 16. Write a python program to get the length of a dictionary.

In [90]:
dict= {'Maruti': 2018, 'Ford': 2019, 'Mahindra': 2022, 'Apple': 30, 'Mango': 40, 'Banana': 50}
len(dict)

6

### 18. Write a Python program to create and display all combinations of letters, selecting each letter from a different key in a dictionary.

In [91]:
d ={'1':['a','b'], '2':['c','d']}

In [96]:
v1,v2=d.values()
for i in v1:
    for j in v2:
        print(i+j)

ac
ad
bc
bd

### 19. Write a Python program to print a dictionary in table format.

In [105]:
my_dict = {'C1':[1,2,3],'C2':[5,6,7],'C3':[9,10,11]}
keys=[*my_dict.keys()]
value=[*my_dict.values()]
def print_table(keys,value):
    print(keys)
    for i in range(len(value)):
        print(value[i])
print_table(keys,value)

['C1', 'C2', 'C3']
[1, 2, 3]
[5, 6, 7]
[9, 10, 11]

### 20. Write a Python program to create a dictionary from a string.

In [107]:
string="string"
d={}
for i in string:
    d[i]=string.count(i)
d

{'s': 1, 't': 1, 'r': 1, 'i': 1, 'n': 1, 'g': 1}

### 21. Write a Python program to convert a list into a nested dictionary of keys.1

In [132]:
lst=[1,2,3,4,5]
new_dict=current={}
for i in lst:
    current[i]={}
    current=current[i]
new_dict

{1: {2: {3: {4: {5: {}}}}}}

### 22. Write a Python program to count the frequency in a given dictiona

In [137]:
from collections import Counter
dictt = {
 'V1': 10,
 'V2': 10,
 'V3': 40,
 'V4': 20,
 'V5': 70,
 'V6': 80,
 'V7': 40,
 'V8': 20, 
 }
result=Counter(dictt.values())
result

Counter({10: 2, 40: 2, 20: 2, 70: 1, 80: 1})

### 23. Write a Python program to extract values from a given dictionaries and create a list of lists from those values.

In [122]:
data = [
        {'Roll_No.': 1, 'name': 'Name_1', 'class': 'V'}, 
        {'Roll_No.': 2, 'name': 'Name_2', 'class': 'V'},
        {'Roll_No.': 3, 'name': 'Name_3', 'class': 'VI'}, 
        {'Roll_No.': 4, 'name': 'Name_4', 'class': 'VI'}, 
        {'Roll_No.': 5, 'name': 'Name_5', 'class': 'VII'}
        ]
# [list(i.values()) for i in data]
print([[*dic.values()] for dic in data])

[[1, 'Name_1', 'V'], [2, 'Name_2', 'V'], [3, 'Name_3', 'VI'], [4, 'Name_4', 'VI'], [5, 'Name_5', 'VII']]

#### 24. Write a Python program to get the total length of all values of a given dictionary with string values.

In [123]:
dic = {'Maruti': 'Omni', 'Ford': 'Figo', 'Mahindra': 'XUV700', 'Apple': 'Red', 'Mango': 'Yellow'}

In [131]:
sm=0
for i in dic.values():
    sm+=len(i)
print(dic)
sm

{'Maruti': 'Omni', 'Ford': 'Figo', 'Mahindra': 'XUV700', 'Apple': 'Red', 'Mango': 'Yellow'}

23