# DataTypes

The data type of a value (or variable) is an attribute that tells what kind of data that value can have.

Data types in Python are as follows 1)Strings 2)List 3)Dictionary 4)Tuples 5)Sets

# 1. Strings

A string is a sequence of characters. String is ordered i.e. sequence matters

Creating a String 1) By putting the string in inverted commas '' 2) By using a function 'str'

In [27]:
s="python for data science"
s

'python for data science'

In [28]:
s=str('republic')
s

'republic'

Accessing characters in a string 1) Indexing 2) Slicing

Indexing --> Indexing starts from 0 and in between space is included

In [30]:
s='python for data science'

In [32]:
s[5]

'n'

Slicing --> In slicing, start index is included, end index is not included

In [33]:
s[0:6]

'python'

#If start index is blank, it means from start ie 0 count

In [34]:
s[:3]

'pyt'

#If end index is blank, it means till end of the string

In [36]:
s[5:]

'n for data science'

#Negative Indexing starts from right to left. The rightmost chararacter has the index -1

In [37]:
s[-1]

'e'

In [38]:
s[-12:-8] #Here start index is -12 and end index is -8. The index for 'a' in data is -9.
#(However here end index is -8, one more than -9)

'data'

create steps in slicing

In [43]:
s[0:10:2]

'pto o'

In [45]:
#if you want to reverse the stirng
s[::-1]

'ecneics atad rof nohtyp'

String Operations:-
1)Length of string 
2)'in' operator in strings 
3)Converting a string to lower case or upper case 
4)Count no of characters in a string 
5)Convert first character of a string into upper case (Capitalize)
6)Convert first character of all strings into upper case (Title)
7)Stripping empty spaces from Left, Right and both sides of a string 
8)Replacing a string with another string
9)Adding two strings 
10)Multiplying a string with a scalar
11)Finding sub string in a string 
12)Splitting a string at white spaces 
13)Joining the string with seperator 
14)Verify string is immutable, cannot be modified

In [47]:
# For length count starts from 1
len(s)

23

In [50]:
# In opertor in Strings
'x' in s

False

In [51]:
# To find in
x="TISSUES"
'i' in x

False

In [55]:
#Converting a string to lower case
y=x.lower()

In [57]:
#Converting a string to upper case
y.upper()

'TISSUES'

In [58]:
# To count no of characters
x.count('T')

1

In [61]:
# Converts first alphabet to Capital
s="python for data Science"
s.capitalize()

'Python for data science'

In [62]:
# Converts the string to title format ie first alphabet of each word
s="  python for data Science  "
s.title()

'  Python For Data Science  '

In [63]:
# Removes empty spaces from left
s.lstrip()

'python for data Science  '

In [64]:
#Removes empty spaces from right
s.rstrip()

'  python for data Science'

In [65]:
#Removes all empty spaces from left and right
s.strip()

'python for data Science'

Replacing a string with another string

In [67]:
s="Python for data Science Python Python python"
s.replace("P","S")

'Sython for data Science Sython Sython python'

### Adding two strings --> Concatenation

In [68]:
#adding to strings
a="data"
b="Sceince"
a+b

'dataSceince'

In [69]:
# Multiplication of string with Scalar
a='1'
a*3

'111'

### Finding a substring in the string

In [75]:
s='python for data science'
s.find('o',5)

8

### Split a string (at white spaces). 'split' function gives the output as list

In [77]:
s="python for datascience"
lst=s.split()

### Join the splitted list and give output as String

In [78]:
'_'.join(lst)

'python_for_datascience'

In [24]:
#Strings are immutable, Cannot modify

In [79]:
s='Republic'
s[0]='Z'

TypeError: 'str' object does not support item assignment

# 2] List

### List is a ordered collection of multiple items stored in a single variable.
### List are changeable (Mutable) and allow duplicate values.
### Items in the list are indexed, the first item has index [0], the second item has index [1] etc.

#### List items can be of any data type: String, int and boolean data types:

In [2]:
list1 = ['apple', 'banana', 'cherry', 100, True, 45+9j, True]

In [3]:
#type
type(list1)

list

List can contain different data types:

In [5]:
list2=[1,"string",5+6j,True]
list2

[1, 'string', (5+6j), True]

In [82]:
#Example: A list with strings, integers and boolean values:

## Creating a List

1) By Putting the items in a square bracket

In [7]:
list3=[]
list3

[]

2) Creating a blank list

3) Using the list() Constructor --> It is also possible to use the list() constructor when creating a new list. We can pass following data types to the function 'list'. a)Tuple b)String c) Dictionary as a parameter to 'list' function

In [9]:
l=list()
l

[]

In [10]:
type(l)

list

a) Passing 'tuple' to list() constructor

In [12]:
#Note here we need to apply double round brackets
lst=list((1,2,3,4,5,6))
lst

[1, 2, 3, 4, 5, 6]

b) Passing 'string' to list() constructor gives the output as list of characters

In [14]:
lst=list("string")
lst

['s', 't', 'r', 'i', 'n', 'g']

In [15]:
a={'a':100,'b':400}
list(a)

['a', 'b']

c) Passing a 'dictionary' to list() constructor gives the output of 'keys' of a dictionary

### Accessing Items from the list

Items in the list are indexed, the first item has index [0], the second item has index [1] etc.

Indexing the list

In [18]:

#Lets consider the list as follows
lst = ["abc", 34, True, 40, "male"]
lst

['abc', 34, True, 40, 'male']

In [19]:
lst[0]

'abc'

In [20]:
lst[-1]

'male'

Slicing a list

In [85]:
#Lets consider the list as follows
lst = ["abc", 34, True, 40, "male"]
lst

['abc', 34, True, 40, 'male']

In [21]:
lst[0:4]

['abc', 34, True, 40]

In [22]:
lst[-3:-2]

[True]

In [23]:
lst[::-1]

['male', 40, True, 34, 'abc']

In [26]:
 #All Elements from start to end in step of 2
lst[0::2]

['abc', True, 'male']

In [27]:
#Reverse the list
lst[::-1]

['male', 40, True, 34, 'abc']

In [29]:
# Indexing a Nested List (List within list)
lst=[1,2,3,4,[40,10]]

In [30]:
lst

[1, 2, 3, 4, [40, 10]]

In [34]:
lst[2:]

[3, 4, [40, 10]]

In [35]:
# Slicing in nested List
for i in lst:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'list'>

In [39]:
# Slicing Nested List (slicing left to right and not right to left)
lst=[1,2,3,4,['a',5,5+6j]]
lst[-5:-2]

[1, 2, 3]

In [40]:
# Nested List (For Loop)
lst

[1, 2, 3, 4, ['a', 5, (5+6j)]]

In [41]:
for i in lst:
    print(i)

1
2
3
4
['a', 5, (5+6j)]

List is mutable

In [46]:
lst[1]=6
lst[4][0]=7
lst

[1, 6, 3, 4, [7, 5, (5+6j)]]

## Operations with List
1) Addition of two lists 2) Multiplication with Scalar 3) Built in Functions 4) Appending List

In [47]:
# Addition of two lists
l=[2,3,4,5,6]
l1=[4,5,6,7,8,9]
l+l1

[2, 3, 4, 5, 6, 4, 5, 6, 7, 8, 9]

In [48]:
# Multiplication with Scalar
l*5

[2, 3, 4, 5, 6, 2, 3, 4, 5, 6, 2, 3, 4, 5, 6, 2, 3, 4, 5, 6, 2, 3, 4, 5, 6]

## Built in Functions

In [49]:
#We are using the following list

l1

[4, 5, 6, 7, 8, 9]

In [50]:

min(l1)

4

In [51]:
max(l1)

9

In [52]:
sum(l1)

39

In [53]:
len(l1)

6

In [56]:
average=sum(l1)/len(l1)
average

6.5

Difference of Lists --> Given 2 lists l1 & l2, Find the elements present in l1 but are absent in l2. This cannot be achieved by simple subtraction of two lists. It is a two step process 
1) Convert both lists into set by using set function and subtract. It gives output in the set form. 
2) Convert the set to list

In [57]:
l1=[8,7,4,2,3]
l2=[8,6,4,1,2]
set(l1)-set(l2)

{3, 7}

Append a element to the list --> Append takes only 1 argument

In [63]:
lst1=[]
lst1.append(1)
lst1.append(4)
lst1

[1, 4]

In [95]:
 #takes only one single element in argument, can only append 1 value at a time

Append a list to list --> Appends as seperate lists

In [96]:
#To the above list append a list as follows

In [67]:
lst1.append([1,24,5])
lst1

[1, 4, [1, 24, 5], [1, 24, 5], [1, 24, 5]]

Extend a list --> Extends within existing list. It also takes one argument at a time

In [70]:
lst1.extend([1,2,34])
lst1

[1, 4, [1, 24, 5], [1, 24, 5], [1, 24, 5], 1, 2, 34, 1, 2, 34]

In [77]:
lst=[1,2,3,4,5]
len(lst)
lst.append([1,2,3,4])
len(lst)
lst

[1, 2, 3, 4, 5, [1, 2, 3, 4]]

In [97]:
#If we need to extend the list with a list inside list, the argument needs to be passed in double square bracket

In [80]:
lst.extend([[1,2,3,5]])
lst

[1, 2, 3, 4, 5, [1, 2, 3, 4], [1, 2, 3, 5], [1, 2, 3, 5]]

Sorting a List

In [81]:
lst=[2,3,4,5,67,2,3]
sorted(lst)

[2, 2, 3, 3, 4, 5, 67]

In [83]:
# Sorting a nested list
lst=[1,2,3,4,5,[5,4,25,6]]
lst[5].sort()
lst

[1, 2, 3, 4, 5, [4, 5, 6, 25]]

#### Removing element from list 1) Removing by Index 2) Removing by Specifying the element to be removed 3) Removing by Range

Removing a element in list by Index

In [92]:
lst=[1,2,3,4,"asv","jksf"]
lst.pop(1)
lst

[1, 3, 4, 'asv', 'jksf']

In [93]:
lst.remove("asv")
lst

[1, 3, 4, 'jksf']

In [96]:
lst=[1,2,4,6,74,57]
del lst[1:4]
lst

[1, 74, 57]

Convert a String to list

In [98]:
s="data Science"
list(s)

['d', 'a', 't', 'a', ' ', 'S', 'c', 'i', 'e', 'n', 'c', 'e']

To find unique elements of list

In [102]:
# Step 1 : Use Set Function. It gives the output as Set.
lst=[1,1,2,2,3,4,4,5,5]
x=list(set(lst))
x

[1, 2, 3, 4, 5]

In [100]:
# Step 2 : Convert set to list

# 3. Dictionary

Dictionary is like a list. It is an unordered collection of items. Sequence does not matter Dictionary is Mutable Each item of dictionary has a key / value pair. The association of a key and a value is called a key-value pair or an item While the values can be of any data type and can repeat, keys must be of immutable type (string, number or tuple with immutable elements) and must be unique Dictionaries are used to store data values in key:value pairs.

#### Creating a dictionary 
1)By using Curly braces 
2)By using 'dict' function and passing list of tuples 
3)By assigning value to a key

1)By Using Curly braces

In [104]:
dist={'a':100,'b':300}
type(dist)

dict

2)By using 'dict' function and passing list of tuples

In [107]:
x=dict([('a',100),('b',300)])
type(x)

dict

3)By Creating a blank dictionary and assigning values to respective keys"

In [114]:
d={}
d[4]="data"
d
d[5]="group"
d[5]="joker"
d

{4: 'data', 5: 'joker'}

### Accessing Dictionary Items
1)Get Items 2)Get Keys 3)Get Values

Get all the Items (Key Value Pair) from Dictionary as a list

In [116]:
dict = {"brand": "Ford", "model": "Mustang", "year": 1964}
dict.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

Get all the Keys from Dictionary as a list

In [117]:
dict.keys()

dict_keys(['brand', 'model', 'year'])

Get all the Values from Dictionary as a list

In [118]:
dict.values()

dict_values(['Ford', 'Mustang', 1964])

Get specific 'value' corresponding to the 'key' using 'get' function

In [119]:
dict.get('brand')

'Ford'

Get specific 'value' corresponding to the 'key' using 'pop' function

In [125]:
dict

{'model': 'Mustang', 'year': 1964}

Adding key value pair in a dictionary

In [127]:
dict["brand"]="ford"
dict

{'model': 'Mustang', 'year': 1964, 'brand': 'ford'}

Deleting a key value pair using 'del' function

In [130]:
# del dict["model"]
dict

{'year': 1964, 'brand': 'ford'}

Finding Length of Dictionary

In [131]:
len(dict)

2

Updating a dictionary (Alternative way)

In [133]:
dict.update({"year":1980})
dict

{'year': 1980, 'brand': 'ford'}

Clearing all items of dictionary using clear function

In [135]:
dict.clear()
dict

{}

Update dictionary using update function

In [140]:
# example of update of dictionary (Aggregating various dictionaries)
d1={1:20,2:39}
d2={2:20,4:50}
d3={}
d3.update(d1)
d3.

{1: 20, 2: 39}

In [142]:
d3.update(d2)
d3

{1: 20, 2: 20, 4: 50}

For Loop using dictionary

In [143]:
#For loop loops over the Keys
d={'A':100,'B':200,'C':300}
for i in d:
    print(i)

A
B
C

In [144]:
#For looping over the values
d={'A':100,'B':200,'C':300}
for i in d:
    print(d[i])

100
200
300

In [147]:
#For Looping over the items (key value pair)
for key,value in d.items():
    print(key,value)

A 100
B 200
C 300

Storing above dictionary keys, values and items in the list

In [148]:
list(d.keys())

['A', 'B', 'C']

In [149]:
list(d.values())

[100, 200, 300]

In [150]:
list(d.items())

[('A', 100), ('B', 200), ('C', 300)]

# 4. Tuples
Python tuples are a data structure that store an ordered sequence of values. Tuples are immutable. This means you cannot change the values in a tuple. Tuples are defined with parenthesis. Individual values in a tuple are called items. Tuples can store any data type. Tuples are similar to Python lists, with one big difference: you cannot modify a tuple. For example, you may use a tuple to store a list of employee names. You could use a tuple to store a list of ice cream flavors stocked at an ice cream shop.

Creating Tuple 1) By Round Bracket 2) By passing a list to 'tuple' function

By Round Bracket

In [155]:
t=(2,3)
type(t)

tuple

By passing a list to the 'tuple' function

In [160]:
t1=tuple([1,2,3,4,5,"string"])
t1

(1, 2, 3, 4, 5, 'string')

Accessing items of tuple

Indexing a tuple (Similar to string and list)

In [163]:
t1[-1]

'string'

Slicing a Tuple (Similar to string and list)

In [164]:
t1[0:3]

(1, 2, 3)

Tuple is not mutable (immutable)

In [165]:
t[0]=6

TypeError: 'tuple' object does not support item assignment

Tuple Operations 1)Concatenation 2)Multiplication with Scalar 3)Length of tuple 4)Max element in a Tuple 4)Comparing two tuples

Concatenation (Similar to Strings & List)

In [167]:
t1=("blue","green","red")
t2=("yellow",)
t1+t2

('blue', 'green', 'red', 'yellow')

Multiplication with Scalar

In [168]:
t1*3

('blue', 'green', 'red', 'blue', 'green', 'red', 'blue', 'green', 'red')

Length of a tuple

In [169]:
len(t1)

3

Comparing two tuples

In [170]:
t1<t2

True

Max element in a tuple

In [171]:
t1=(1,2,3,4,5)
max(t1)

5

Min element in a tuple

In [172]:
min(t1)

1

Sum of elements of tuple

In [173]:
sum(t1)

15

For loop over tuple

In [176]:
for i in t1:
    print(i)

1
2
3
4
5

Finding Unique elements in a tuple using set function. Here output is a set data type. This can be converted to tuple by passing the set to tuple function

In [178]:
t1=(2,3,3,2,5,3,4,5,4)
s1=set(t1)

Converting set to tuple

In [179]:
tuple(s1)

(2, 3, 4, 5)

# 5. Sets
Set is unordered collection of items. In sets sequence does not matter and indexing has no meaning Sets are denoted by curly braces. Every set item is unique (no duplicates) and are immutable (cannot be changed). However,  Sets can be used to perform mathematical set operations like union, intersection, symmetric difference etc. Sets can have any number of items and they may be of different data types - integer, float, tuple, string etc. However set cannot hold mutable items like lists, set or dictionaries.

Sets cannot have duplicate items

In [2]:
s={1,2,3,4,4,4,'Hellow'}
s

{1, 2, 3, 4, 'Hellow'}

Items of set are Immutable

In [3]:
s[0]=5

TypeError: 'set' object does not support item assignment

Set is unordered collection of items. Hence cannot be indexed

In [ ]:
s={1,2,3,4,4,5}

In [4]:
s[0]

TypeError: 'set' object is not subscriptable

Creating a Set 1) Using 'set' function and passing a tuple or a list to set function

By passing a tuple to set function

In [6]:
s=set((1,2,3,4,5))
s

{1, 2, 3, 4, 5}

By passing a list to set function

In [8]:
s=set([1,2,3,4,5])

In [9]:
type(s)

set

Creating Blank Set

In [11]:
s=set()
s

set()

In [12]:
type(s)

set

Updating the Set with the tuple

In [14]:
t=(1,2,3,4,5,6,6,5)
s=set()
s.update(t)
s

{1, 2, 3, 4, 5, 6}

Updating the Set with the list --> Cannot Update as List is mutable

In [17]:
l=[1,2,3,4,5]
t=(1,2,3,4)
l.update(t)
s

AttributeError: 'list' object has no attribute 'update'

Updating the Set with the Dictionary --> Cannot Update as Dictionary is mutable

In [18]:
s=(1,2,3,4)
d={3:"delhi",5:"mumbai"}
s.update(d)

AttributeError: 'tuple' object has no attribute 'update'

Set Operations 1) Union of two sets 2) Intersection of two sets 3) Difference between two sets 4) Symmetric difference of two sets

Union of two sets - symbol |

In [20]:
s1={1,2,3,4,5}
s2={4,5,6,7}
x=s1.union(s2)
x

{1, 2, 3, 4, 5, 6, 7}

Intersection of two sets - symbol &

In [21]:
a={1,2,3,4,5}
b={4,5,6,7,8}
a.intersection(b)

{4, 5}

Difference of two sets. Can be set a - setb or set b - set a (symbol -)

In [23]:
s1={1,2,3,4,5}
s2={4,5,6,7,8,}
s1-s2
s2-s1

{6, 7, 8}

Symmetric Difference (set a ^ set b) --> Symmetric Difference of set A and set B is a set of elements present in Set A and present in set B but not present in both. It is a union of a.difference(b) and b.difference(a) --> Symbol ^

In [25]:
a={1,2,3,4,5}
b={4,5,6,7}
a^b

{1, 2, 3, 6, 7}