# DataTypes

The data type of a value (or variable) is an attribute that tells what kind of data that value can have.

Data types in Python are as follows 1)Strings 2)List 3)Dictionary 4)Tuples 5)Sets

# 1. Strings

A string is a sequence of characters. String is ordered i.e. sequence matters

Creating a String 1) By putting the string in inverted commas '' 2) By using a function 'str'

In [27]:
s="python for data science"
s

'python for data science'

In [28]:
s=str('republic')
s

'republic'

Accessing characters in a string 1) Indexing 2) Slicing

Indexing --> Indexing starts from 0 and in between space is included

In [30]:
s='python for data science'

In [32]:
s[5]

'n'

Slicing --> In slicing, start index is included, end index is not included

In [33]:
s[0:6]

'python'

#If start index is blank, it means from start ie 0 count

In [34]:
s[:3]

'pyt'

#If end index is blank, it means till end of the string

In [36]:
s[5:]

'n for data science'

#Negative Indexing starts from right to left. The rightmost chararacter has the index -1

In [37]:
s[-1]

'e'

In [38]:
s[-12:-8] #Here start index is -12 and end index is -8. The index for 'a' in data is -9.
#(However here end index is -8, one more than -9)

'data'

create steps in slicing

In [43]:
s[0:10:2]

'pto o'

In [45]:
#if you want to reverse the stirng
s[::-1]

'ecneics atad rof nohtyp'

String Operations:-
1)Length of string 
2)'in' operator in strings 
3)Converting a string to lower case or upper case 
4)Count no of characters in a string 
5)Convert first character of a string into upper case (Capitalize)
6)Convert first character of all strings into upper case (Title)
7)Stripping empty spaces from Left, Right and both sides of a string 
8)Replacing a string with another string
9)Adding two strings 
10)Multiplying a string with a scalar
11)Finding sub string in a string 
12)Splitting a string at white spaces 
13)Joining the string with seperator 
14)Verify string is immutable, cannot be modified

In [47]:
# For length count starts from 1
len(s)

23

In [50]:
# In opertor in Strings
'x' in s

False

In [51]:
# To find in
x="TISSUES"
'i' in x

False

In [55]:
#Converting a string to lower case
y=x.lower()

In [57]:
#Converting a string to upper case
y.upper()

'TISSUES'

In [58]:
# To count no of characters
x.count('T')

1

In [61]:
# Converts first alphabet to Capital
s="python for data Science"
s.capitalize()

'Python for data science'

In [62]:
# Converts the string to title format ie first alphabet of each word
s="  python for data Science  "
s.title()

'  Python For Data Science  '

In [63]:
# Removes empty spaces from left
s.lstrip()

'python for data Science  '

In [64]:
#Removes empty spaces from right
s.rstrip()

'  python for data Science'

In [65]:
#Removes all empty spaces from left and right
s.strip()

'python for data Science'

Replacing a string with another string

In [67]:
s="Python for data Science Python Python python"
s.replace("P","S")

'Sython for data Science Sython Sython python'

### Adding two strings --> Concatenation

In [68]:
#adding to strings
a="data"
b="Sceince"
a+b

'dataSceince'

In [69]:
# Multiplication of string with Scalar
a='1'
a*3

'111'

### Finding a substring in the string

In [75]:
s='python for data science'
s.find('o',5)

8

### Split a string (at white spaces). 'split' function gives the output as list

In [77]:
s="python for datascience"
lst=s.split()

### Join the splitted list and give output as String

In [78]:
'_'.join(lst)

'python_for_datascience'

In [24]:
#Strings are immutable, Cannot modify

In [79]:
s='Republic'
s[0]='Z'

TypeError: 'str' object does not support item assignment

# 2] List

### List is a ordered collection of multiple items stored in a single variable.
### List are changeable (Mutable) and allow duplicate values.
### Items in the list are indexed, the first item has index [0], the second item has index [1] etc.

#### List items can be of any data type: String, int and boolean data types: